<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lyxwachs.dao.BlogMapper">
  <resultMap id="BaseResultMap" type="top.lyxwachs.bean.Blog">
    <id column="b_id" jdbcType="INTEGER" property="bId" />
    <result column="b_picture" jdbcType="VARCHAR" property="bPicture" />
    <result column="b_title" jdbcType="VARCHAR" property="bTitle" />
    <result column="b_author" jdbcType="INTEGER" property="bAuthor" />
    <result column="b_createdate" jdbcType="TIMESTAMP" property="bCreatedate" />
    <result column="b_createupdate" jdbcType="TIMESTAMP" property="bCreateupdate" />
    <result column="b_visitors" jdbcType="INTEGER" property="bVisitors" />
    <result column="b_discuss" jdbcType="INTEGER" property="bDiscuss" />
    <result column="b_live" jdbcType="INTEGER" property="bLive" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="top.lyxwachs.bean.BlogWithBLOBs">
    <result column="b_content" jdbcType="LONGVARCHAR" property="bContent" />
    <result column="b_contentText" jdbcType="LONGVARCHAR" property="bContenttext" />
  </resultMap>
  <sql id="Base_Column_List">
    b_id, b_picture, b_title, b_author, b_createdate, b_createupdate, b_visitors, b_discuss,b_live
  </sql>
  <sql id="Blob_Column_List">
    b_content, b_contentText
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from blog
    where b_id = #{bId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog
    where b_id = #{bId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.lyxwachs.bean.BlogWithBLOBs">
    insert into blog (b_id, b_picture, b_title, 
      b_author, b_createdate, b_createupdate, 
      b_visitors, b_discuss,b_live, b_content, 
      b_contentText)
    values (#{bId,jdbcType=INTEGER}, #{bPicture,jdbcType=VARCHAR}, #{bTitle,jdbcType=VARCHAR}, 
      #{bAuthor,jdbcType=INTEGER}, #{bCreatedate,jdbcType=TIMESTAMP}, #{bCreateupdate,jdbcType=TIMESTAMP}, 
      #{bVisitors,jdbcType=INTEGER}, #{bDiscuss,jdbcType=INTEGER},#{bLive,jdbcType=INTEGER}, #{bContent,jdbcType=LONGVARCHAR}, 
      #{bContenttext,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.lyxwachs.bean.BlogWithBLOBs" useGeneratedKeys="true" keyProperty="bId" keyColumn="b_id">
    insert into blog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bId != null">
        b_id,
      </if>
      <if test="bPicture != null">
        b_picture,
      </if>
      <if test="bTitle != null">
        b_title,
      </if>
      <if test="bAuthor != null">
        b_author,
      </if>
      <if test="bCreatedate != null">
        b_createdate,
      </if>
      <if test="bCreateupdate != null">
        b_createupdate,
      </if>
      <if test="bVisitors != null">
        b_visitors,
      </if>
      <if test="bDiscuss != null">
        b_discuss,
      </if>
       <if test="bLive != null">
        b_live,
      </if>
      <if test="bContent != null">
        b_content,
      </if>
      <if test="bContenttext != null">
        b_contentText,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bId != null">
        #{bId,jdbcType=INTEGER},
      </if>
      <if test="bPicture != null">
        #{bPicture,jdbcType=VARCHAR},
      </if>
      <if test="bTitle != null">
        #{bTitle,jdbcType=VARCHAR},
      </if>
      <if test="bAuthor != null">
        #{bAuthor,jdbcType=INTEGER},
      </if>
      <if test="bCreatedate != null">
        #{bCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="bCreateupdate != null">
        #{bCreateupdate,jdbcType=TIMESTAMP},
      </if>
      <if test="bVisitors != null">
        #{bVisitors,jdbcType=INTEGER},
      </if>
      <if test="bDiscuss != null">
        #{bDiscuss,jdbcType=INTEGER},
      </if>
             <if test="bLive != null">
        #{bLive,jdbcType=INTEGER},
      </if>
      <if test="bContent != null">
        #{bContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="bContenttext != null">
        #{bContenttext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.lyxwachs.bean.BlogWithBLOBs">
    update blog
    <set>
      <if test="bPicture != null">
        b_picture = #{bPicture,jdbcType=VARCHAR},
      </if>
      <if test="bTitle != null">
        b_title = #{bTitle,jdbcType=VARCHAR},
      </if>
      <if test="bAuthor != null">
        b_author = #{bAuthor,jdbcType=INTEGER},
      </if>
      <if test="bCreatedate != null">
        b_createdate = #{bCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="bCreateupdate != null">
        b_createupdate = #{bCreateupdate,jdbcType=TIMESTAMP},
      </if>
      <if test="bVisitors != null">
        b_visitors = #{bVisitors,jdbcType=INTEGER},
      </if>
      <if test="bDiscuss != null">
        b_discuss = #{bDiscuss,jdbcType=INTEGER},
      </if>
       <if test="bLive != null">
        b_live = #{bLive,jdbcType=INTEGER},
      </if>
      
      <if test="bContent != null">
        b_content = #{bContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="bContenttext != null">
        b_contentText = #{bContenttext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where b_id = #{bId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="top.lyxwachs.bean.BlogWithBLOBs">
    update blog
    set b_picture = #{bPicture,jdbcType=VARCHAR},
      b_title = #{bTitle,jdbcType=VARCHAR},
      b_author = #{bAuthor,jdbcType=INTEGER},
      b_createdate = #{bCreatedate,jdbcType=TIMESTAMP},
      b_createupdate = #{bCreateupdate,jdbcType=TIMESTAMP},
      b_visitors = #{bVisitors,jdbcType=INTEGER},
      b_discuss = #{bDiscuss,jdbcType=INTEGER},
      b_live = #{bLive,jdbcType=INTEGER},
      b_content = #{bContent,jdbcType=LONGVARCHAR},
      b_contentText = #{bContenttext,jdbcType=LONGVARCHAR}
    where b_id = #{bId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.lyxwachs.bean.Blog">
    update blog
    set b_picture = #{bPicture,jdbcType=VARCHAR},
      b_title = #{bTitle,jdbcType=VARCHAR},
      b_author = #{bAuthor,jdbcType=INTEGER},
      b_createdate = #{bCreatedate,jdbcType=TIMESTAMP},
      b_createupdate = #{bCreateupdate,jdbcType=TIMESTAMP},
      b_visitors = #{bVisitors,jdbcType=INTEGER},
      b_discuss = #{bDiscuss,jdbcType=INTEGER},
      b_live = #{bLive,jdbcType=INTEGER},
    where b_id = #{bId,jdbcType=INTEGER}
  </update>
  
  <select id="findBlogList" resultMap="ResultMapWithBLOBs">
  	select *  from blog where b_live=1 
	<if test="bTitle!=null">
		and b_title like concat('%',#{bTitle},'%') order by b_createdate desc
	</if>
  	
  </select>
  
  <update id="updateVisitorsCountByBid" >
    update blog set b_visitors = #{bVisitors,jdbcType=INTEGER} where b_id = #{bId,jdbcType=INTEGER}
  </update>
  
   <select id="getHotBlogList" resultMap="ResultMapWithBLOBs">
  	select *  from blog where b_live=1 and b_author=#{bAuthor,jdbcType=INTEGER}  order by b_visitors desc limit 0,${page}
  </select>
  
  <select id="getNewBlogList" resultMap="ResultMapWithBLOBs">
  	select *  from blog where b_live=1 and b_author=#{bAuthor,jdbcType=INTEGER}  order by b_createdate desc limit 0,${page}
  </select>
  
  
</mapper>