<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lyxwachs.dao.BlogCategoryMapper">
  <resultMap id="BaseResultMap" type="top.lyxwachs.bean.BlogCategory">
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_number" jdbcType="INTEGER" property="categoryNumber" />
    <result column="b_id" jdbcType="INTEGER" property="bId" />
    <result column="c_live" jdbcType="TINYINT" property="cLive" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
  </resultMap>
  <sql id="Base_Column_List">
    category_id, category_name, category_number, b_id, c_live, u_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.lyxwachs.bean.BlogCategory">
    insert into blog_category (category_id, category_name, category_number, 
      b_id, c_live, u_id)
    values (#{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{categoryNumber,jdbcType=INTEGER}, 
      #{bId,jdbcType=INTEGER}, #{cLive,jdbcType=TINYINT}, #{uId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="top.lyxwachs.bean.BlogCategory">
    insert into blog_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="categoryNumber != null">
        category_number,
      </if>
      <if test="bId != null">
        b_id,
      </if>
      <if test="cLive != null">
        c_live,
      </if>
      <if test="uId != null">
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryNumber != null">
        #{categoryNumber,jdbcType=INTEGER},
      </if>
      <if test="bId != null">
        #{bId,jdbcType=INTEGER},
      </if>
      <if test="cLive != null">
        #{cLive,jdbcType=TINYINT},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.lyxwachs.bean.BlogCategory">
    update blog_category
    <set>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryNumber != null">
        category_number = #{categoryNumber,jdbcType=INTEGER},
      </if>
      <if test="bId != null">
        b_id = #{bId,jdbcType=INTEGER},
      </if>
      <if test="cLive != null">
        c_live = #{cLive,jdbcType=TINYINT},
      </if>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.lyxwachs.bean.BlogCategory">
    update blog_category
    set category_name = #{categoryName,jdbcType=VARCHAR},
      category_number = #{categoryNumber,jdbcType=INTEGER},
      b_id = #{bId,jdbcType=INTEGER},
      c_live = #{cLive,jdbcType=TINYINT},
      u_id = #{uId,jdbcType=INTEGER}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  
 <insert id="insertBatchCategory" parameterType="java.util.List">
	insert into blog_category (b_id,category_name,category_number,c_live,u_id)
	values
	<foreach collection="list" item="item" index="index" separator=",">
	 (#{item.bId,jdbcType=INTEGER}, #{item.categoryName,jdbcType=VARCHAR},#{item.categoryNumber,jdbcType=INTEGER},#{item.cLive,jdbcType=TINYINT},#{item.uId,jdbcType=INTEGER})
	</foreach>
</insert>

  <select id="getCategorysList"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_category
    where b_id = #{bId,jdbcType=INTEGER}
  </select>
  
</mapper>